body {
  background-color: #8f75d8;
  text-align: center;
  margin: 0 auto;
  font-family: "Merriweather", serif;
}

h1 {
  color: blueviolet;
  font-size: 90px;
  margin: 20px 0 auto;
  font-family: "Sacramento", cursive;
}

h2 {
  color: blueviolet;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: rgb(220, 209, 231);
  font-family: "Montserrat", sans-serif;
}

p {
  color: rgb(221, 198, 228);
  font-family: "Montserrat", sans-serif;
}

a {
  color: #d610d6;
  font-family: "Montserrat", sans-serif;
  padding: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #59247c;
}

hr {
  border-style: dotted none none;
  width: 7%;
  border-width: 5px;
  border-color: rgb(88, 77, 128);
}

.copyright {
  padding-top: 20px;
  color: #1b1919;
}

.contact-text {
  width: 30%;
  margin: 40px auto 60px;
}

.skill-row {
  text-align: left;
  line-height: 2;
  width: 50%;
  margin: 100px auto 100px auto;
}
.top-container {
  position: relative;
  padding-top: 100px;
}

.midle-container {
  padding: 40px 40px;
}

.bottom-container {
  padding: 50px 0 20px;
  background-color: blueviolet;
}

.contact-me {
  padding-bottom: 40px;
}


/* imiges */

.bottom-cloud {
  position: absolute;
  left: 380px;
}

.top-cloud {
  position: absolute;
  top: 75px;
  right: 400px;
}

.computer {
  margin-right: 30px;
  width: 25%;
  float: left;
}

.pepper {
  margin-right: 30px;
  width: 23%;
  float: right;
}

.btn {
  background: #a635f1;
  background-image: -webkit-linear-gradient(top, #8e14e0, #b823b8);
  background-image: -moz-linear-gradient(top, #8e14e0, #b823b8);
  background-image: -ms-linear-gradient(top, #8e14e0, #b823b8);
  background-image: -o-linear-gradient(top, #8e14e0, #b823b8);
  background-image: linear-gradient(to bottom, #8e14e0, #b823b8);
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #1b1919;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #fa0f5d;
  background-image: -webkit-linear-gradient(top, #fa0f5d, #3498db);
  background-image: -moz-linear-gradient(top, #fa0f5d, #3498db);
  background-image: -ms-linear-gradient(top, #fa0f5d, #3498db);
  background-image: -o-linear-gradient(top, #fa0f5d, #3498db);
  background-image: linear-gradient(to bottom, #fa0f5d, #3498db);
  text-decoration: none;
}

@media (max-width: 1200px) {
  
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }
  
  .mountain {
    width: 70%;
  }

  .top-cloud {
    position:absolute;
    right: 90px;
    width: 20%;
    top: 60%;
  }

  .bottom-cloud {
    position:absolute;
    left: 40px;
    width: 20%;
    top: 74%;
  }

  .midle-container {
    padding: 0;
  }

  .skill-row {
  text-align: left;
  line-height: 1.5;
  width: 80%;
  margin: 100px auto 100px auto;
  }

  .contact-text {
    width: auto;
  }
    

  .contact-me {
    text-align: center;
    padding-bottom: 40px;
  }
}
